#include "$1.hpp"

$1* $1::_instance = nullptr;

/**
 * Get the $1 instance.
 * @returns the $1 instance.
 */
$1* $1::getInstance() {
  if (_instance == nullptr) {
    _instance = new $1();
  }
  return _instance;
}

/**
 * $1 constructor.
 */
$1::$1() {

}
